<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <h1 class="navbar-brand">Blog Application</h1>
    <a class="btn btn-primary" [routerLink]="['../post']"> Create Post </a>
  </div>
</nav>

<div class="container text-center mt-4">
  <input class="form-control mt-2 mb-2" type="text" placeholder="Search by name" (input)="onSearch($event)" />
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts$ | async">
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="viewPost(post)"><i class="bi bi-eye"></i></button>
              <button type="button" class="btn btn-success" [routerLink]="['/post', post.id]">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="deletePost(post.id)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <div class="pagination">
        <button class="btn btn-sm btn-secondary" (click)="loadPage(1)" [disabled]="currentPage === 1">First</button>
        <button class="btn btn-sm btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">
          Previous
        </button>
        <button
          class="btn btn-sm btn-secondary"
          *ngFor="let page of pages"
          (click)="loadPage(page)"
          [class.active]="page === currentPage">
          {{ page }}
        </button>
        <button class="btn btn-sm btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
        <button class="btn btn-sm btn-secondary" (click)="loadPage(totalPages)" [disabled]="currentPage === totalPages">
          Last
        </button>
      </div>
    </div>
  </div>
</div>
